@import "tailwindcss";

:root {
  --background-body:#000 !important
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: 'LXGW WenKai';
  src: url('https://cdn.jsdelivr.net/npm/@lxgw/lxgw-wenkai-webfont@1.7.0/lxgw-wenkai-regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "LXGW WenKai", sans-serif;
}
